<!DOCTYPE html>
{% extends 'base.html'%}
{% block content %}



<h3>Edit Task</h3>
<div class="row">
    <form action="{{url_for('update_desc', desc_id=desc._id)}}" method="POST" class="col s12">
        <!--https://materializecss.com/select.html -Select options- -->
        <div class="row">
            <div class="input-field col s12">
            <i class="material-icons prefix">poll</i>
                <select id="category" name="category_name">
                    <option value="" disabled selected>Choose Category</option>
                    {% for cat in categories %}
                        {% if cat.category_name == desc.category_name %}
                        <option value="{{cat.category_name}}" selected>{{cat.category_name}}</option>
                        {% else %}
                        <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label>Task Category</label>
            </div>
        </div>
        <!--https://materializecss.com/collapsible.html -Accordion, collapsible task bars- -->
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="desc_name" name="desc_name" type="text" class="validate" value="{{desc.desc_name}}">
                <label for="icon_prefix">Task Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="desc_desc" id="desc_desc" class="materialize-textarea">{{desc.desc_desc}}</textarea>
                <label for="icon_telephone">Task Description</label>
            </div>
        </div>
        <!--https://materializecss.com/buttons.html -Submit button- -->
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Edit Task
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
    </form>
</div>
{% endblock %}

<!--<div class="container my-5 py-5">
	<div class="row no-gutters">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title text-muted text-uppercase text-center">Edit Country / Symbol
					</h5>
					<br />
					<div class="card">
						<div class="card-body">
							<div class="col-md-12">
								<div class="row d-flex justify-content-center">
									<form action="{{url_for('update_desc', desc_id=desc._id)}}" method="POST">
                                        <div class="row my-4">
                                            <div class="col-md-12">
                                                <div class="form-group font-weight-bolder">
                                                    <label for="country">Country</label>
                                                    <select id="country" name="country_name">
                                                        <option value="" disabled selected>Choose Country</option>
                                                        {% for cat in categories %}
                                                            {% if cat.country_name == desc.country_name %}
                                                            <option value="{{cat.country_name}}" selected>{{cat.country_name}}</option>
                                                            {% else %}
                                                            <option value="{{cat.country_name}}">{{cat.country_name}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="form-group font-weight-bolder">
                                                    <label for="symbol">Symbol</label>
                                                    <input type="text" name="symbol" class="form-control"
                                                    id="symbol" placeholder="https://" required />
                                                </div>
                                                <div class="form-group font-weight-bolder">
                                                    <label for="name">Name</label>
                                                    <input type="text" name="desc_name" class="form-control validate"
                                                    id="desc_name" placeholder="Enter Name of a Symbol" value="{{desc.desc_name}}"
                                                    required />
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group font-weight-bolder">
                                                    <label for="desc_desc">Meaning</label>
                                                    <textarea name="desc_desc" id="desc_desc" class="form-control"
                                                    rows="9" cols="25" placeholder="Type Here!"
                                                    required>{{desc.desc_desc}}</textarea>
                                                </div>
                                            </div>
                                            <div class="row"></div>
                                            <div>
                                                <a href="#" class="mt-5 mr-5 pt-5 pr-5 pl-3">Edit</a>
                                            </div>
                                            <div>
                                                <a href="#" class="my-5 pl-5">Cancel</a>
                                            </div>
                                        </div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>-->
