.letter-link {
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  padding: 0.5rem;
}

.letter-link:hover{
  color: rgb(126, 126, 126);
}

#letter-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  width: 70%;
  line-height: 2.5rem;
  border-radius: 1rem;
}

#letternav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: distribute;
    justify-content: space-around;
  width: 100%;
}

#index-title {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0.5rem;
}