html,
body,
header,
.view {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
color: #444444;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 600px;
  }
}
/****************** Letters **********************/

#letternav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: distribute;
    justify-content: space-around;
  width: 100%;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.letter-link {
  display: inline-block;
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  color: #cbd5db;
  padding: 0.8rem;
}

.letter-link:hover {
  color: #ffffff;
  text-decoration: none;
}

#letter-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color:#5f788a;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  width: 70%;
  line-height: 2.5rem;
  border-radius: 1rem;
}
/*************************************************/

.content-section {
background: #ffffff;
padding: 10px 20px;
border: 1px solid #dddddd;
border-radius: 3px;
margin-bottom: 20px;
}

.btn {
  margin-left: 3px;
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgb(165,135,99), rgb(219, 219, 191) 100%);
  background: -webkit-linear-gradient(45deg, rgb(165,135,99), rgb(219, 219, 191) 100%);
  background: -o-linear-gradient(45deg, rgb(165,135,99), rgb(219, 219, 191) 100%);
  background: linear-gradient(to 45deg, rgb(165,135,99), rgb(219, 219, 191) 100%);
  opacity: 0.9;
}
