<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<h3>Countries</h3>
    {% for category in categories %}
    <article class="media content-section">
    <img class="rounded-circle article-img" src="#" alt="Profile img">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="#">{{category.category_name}}</a>
            </div>
            {% if "username" in session %}
            <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn btn-outline-info">Delete</a>
            <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn btn-outline-success">Edit</a>
            {% endif %}
        </div>
        
    </article>
    {% endfor %}

<div class="content">
    <div class="row text-frame">
        <div class="col s10 offset-s1">
            <!-- Jinja length command obtained from Stack Overflow -->
            {% if matches|length == 0 %}
                <h5 class="noresult">No results found for your search.</h5>
            {% else %}
                <h5>Search results for <em>"{{search_category_name}}":</em></h5>
                {% for match in matches %}
                <a class="wordlink" href="{{url_for('display_word', word=match)}}">{{match}}</a>
                <br/>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}