<!DOCTYPE html>
{% extends 'base.html'%}
{% block content %}
<div class="container  my-5 py-5">
	<div class="row no-gutters">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title text-muted text-uppercase text-center">Hello, username!</h5>
					<br />
					<div class="card">
						<div class="card-body">
							<div class="col-md-12">
								<div class="row d-flex text-center">
									<div class="col-md-6">
										<div>
											<a href="add.html">Add Country/Symbols</a>
										</div>
									</div>
									<div class="col-md-6">
										<div>
											<a href="edit.html">Edit Country/Symbols</a>
										</div>
									</div>
								</div>
							</div>
							<div class="row d-flex justify-content-center">
								<div>
									<a href="#">Delete Account</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}