<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Symbols</title>
    <link href="https://fonts.googleapis.com/css2?family=Gotu&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/fontawesome.min.js"></script>

<!--Materialize-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    
<!--personalized css-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>

<!-- NavBar -->    
    <header>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" href="{{url_for('get_index')}}">
                    Symbols
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('get_index')}}">Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('get_descs')}}">Symbols</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('get_signup')}}">Sign-up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('get_login')}}">Log-in</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('get_contact')}}">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

        {% block content %}
        {% endblock %}

<!-- Footer-->
    <footer class="container-fluid bg-dark mt-1 fixed-bottom">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-muted text-center">
                <span>&copy; 2020 Martins Silins</span>
            </div>
            <div class="col-md-4 text-center">
                <a href="https://linkedin.com/in/martins-silins-3bb0ba126" class="linkedIn" target="_blank"
                    rel="noopener noreferrer" aria-label="LinkedIn"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/kydzoster" class="gitHub" target="_blank" rel="noopener noreferrer"
                    aria-label="GitHub"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </footer>

<!-- Scripts -->    
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="static/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<!-- Email -->
    <script src="https://cdn.emailjs.com/sdk/2.2.4/email.min.js"></script>
    <script> (function () { emailjs.init("user_nQSUi7DXcTcj4S9hYbTYv"); })(); </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
</body>
</html>