<!DOCTYPE html>
{% extends 'base.html' %} 
{% block content %}
<form action="{{ url_for('popu_category', category_id=category._id) }}" method="POST">
		    <article class="media content-section">
            <img class="rounded-circle article-img" src="{{category.symbol_img}}" alt="Symbol Image">
                <div class="media-body">
                    <div class="article-metadata">
                        <h2><a class="article-title">{{category.symbol_name}}</a></h2>
                        <h5><a class="mr-2">{{category.category_name}}</a></h5>
                    </div>
                    <p class="article-content">{{category.symbol_description}}</p>
                </div>
            </article>
</form>
{% endblock %}
