<!DOCTYPE html>
{% extends 'base.html'%} 
{% block content %}
<div class="container-fluid my-5 py-5">
    <div class="row mt-2 pt-2">
        <div class="col-md-12 text-light text-center">
            <h1>Visited a foreign Country and saw some cool looking symbols?</h1>
            <h5>Search for a Countries name or browse an alphabetical list of Countries and their ancient symbols!</h5>
        </div>
    </div>
    <div class="row mt-5 pt-5">
        <div class="col-md-12 text-light">
            <form class="form-inline text-light justify-content-center">
                <div class="md-form">
                    <!--start-->
                    <div id="searchandindex">
                    <div id="searchbox">
                        <form action="{{url_for('find_words')}}" method="POST">
                        <div id="searchbar" class="input-field">
                            <i class="material-icons prefix">search</i>
                            <input type="search" name="search" id="search" placeholder="Search word...">
                        </div>
                        </form>
                    </div>
                    
                    </div>
                    <!--end-->
                </div>
            </form>
        </div>
    </div>
    <div class="row my-1 py-1">
        <div class="col-md-12 text-light text-center">
            <div id="letternav">
                <ul id="letter-links">
                    <li id="index-title">Index</li>
                    {% for letter in letters %}
                    <li><a class="letter-link" href="{{url_for('display_letter', letter=letter)}}">{{letter}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row my-5 py-5">
        <div class="col-md-12 text-light text-center">
            <h5 class="lining">Searched for a Country or a Symbol, but could not find it, however, you already know it's meaning? </h5>
            <h5>Become a contributor by <a href="{{url_for('get_signup')}}" class="strong">creating an account</a> and adding some Symbols and their meaning according to a specific Country!</h5> 
        </div>
    </div>
</div>
{% endblock %}