<!DOCTYPE html>
{% extends 'base.html'%} 
{% block content %}
<div class="container-fluid my-5 py-5">
    <div class="row mt-2 pt-2">
        <div class="col-md-12 text-light text-center">
            <h1>Visited a foreign Country and saw some cool looking symbols?</h1>
            <h5>Search for a Countries name or browse an alphabetical list of Countries and their ancient symbols!</h5>
        </div>
    </div>
    <div class="row mt-5 pt-5">
        <div class="col-md-12 text-light">
            <form class="form-inline justify-content-center">
                <div class="md-form">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
            </form>
        </div>
    </div>
    <div class="row my-1 py-1">
        <div class="col-md-12 text-light text-center">
            <h1>Alphabetical list of Countries Here</h1>
        </div>
    </div>
    <div class="row my-5 py-5">
        <div class="col-md-12 text-light text-center">
            <h5 class="lining">Searched for a Country or a Symbol, but could not find it, however, you already know it's meaning? </h5>
            <h5>Become a contributor by <a href="{{url_for('get_signup')}}" class="strong">creating an account</a> and adding some Symbols and their meaning according to a specific Country!</h5> 
        </div>
    </div>
</div>
{% endblock %}