<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class="wallpaper">
    <div class="content">
        <div class="row text-frame">
            <div class="col s10 offset-s1">
                {% if not index[0] %}
                    <h5 class="noresult">No entry found under <strong>{{letter}}</strong>, would you like to <a href="{{url_for('add_symbol')}}">add one</a>?</h5>
                {% else %}
                    <h5>Countries with a letter "<strong>{{letter}}</strong>":</h5>
                    {% for word in index %}
                        <a class="text-uppercase" href="{{url_for('display_word', word=word.category_name)}}">{{word.category_name}}</a>
                        <br>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}