<!DOCTYPE html>
{% extends 'base.html'%} 
{% block content %}
<div class="wallpaper">
    <div class="content">
        <div class="row text-frame">
            <div class="col s10 offset-s1">
                <!-- Jinja length command obtained from Stack Overflow -->
                {% if matches|length == 0 %}
                    <h5 class="noresult">No results found for your search.</h5>
                {% else %}
                    <h5>Search results for <em>"{{search_term}}":</em></h5>
                    {% for match in matches %}
                    <a class="wordlink" href="{{url_for('display_word', word=match)}}">{{match}}</a>
                    <br/>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}