<!DOCTYPE html>
{% extends 'base.html'%} 
{% block content %}
<div class="container  my-5 py-5">
    <div class="row no-gutters">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-muted text-uppercase text-center">Sign-Up</h5>
                    <br />
                    <div class="card">
                        <div class="card-body">
                            <div class="col-md-12">
                                <div class="row d-flex justify-content-center">
                                    <div class="form-group font-weight-bolder">
                                        <label for="username">Username</label>
                                        <input type="text" name="username" class="form-control" id="username" placeholder="Enter Username" required />
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="form-group font-weight-bolder">
                                        <label for="password">Password</label>
                                        <input type="password" name="password" class="form-control" id="password" placeholder="Enter password" required />
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div>
                                        <button type="submit" class="btn mb-3">Register</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}